{% extends "base.html" %}

{% load suspense %}

{% block content %}
  {% webkit_extra_invisible_bytes %}

  <aside class="py-8 lg:py-24 bg-gray-50">
    <div class="px-4 mx-auto max-w-screen-xl">
      <h2 class="mb-8 text-2xl font-bold text-gray-900">
        Related posts
      </h2>

      {% suspense %}
        {% fallback %}
          <div class="grid gap-12 sm:grid-cols-2 lg:grid-cols-4">
            <div role="status" class="max-w-sm animate-pulse">
              <div class="h-2.5 bg-gray-200 rounded-full w-48 mb-4"></div>
              <div class="h-2 bg-gray-200 rounded-full max-w-[330px] mb-2.5"></div>
              <div class="h-2 bg-gray-200 rounded-full max-w-[300px] mb-2.5"></div>
              <span class="sr-only">Loading...</span>
            </div>

            <div role="status" class="max-w-sm animate-pulse">
              <div class="h-2.5 bg-gray-200 rounded-full w-32 mb-4"></div>
              <div class="h-2 bg-gray-200 rounded-full max-w-[300px] mb-2.5"></div>
              <div class="h-2 bg-gray-200 rounded-full max-w-[340px] mb-2.5"></div>
              <span class="sr-only">Loading...</span>
            </div>

            <div role="status" class="max-w-sm animate-pulse">
              <div class="h-2.5 bg-gray-200 rounded-full w-48 mb-4"></div>
              <div class="h-2 bg-gray-200 rounded-full max-w-[330px] mb-2.5"></div>
              <div class="h-2 bg-gray-200 rounded-full max-w-[300px] mb-2.5"></div>
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        {% endfallback %}

        <div class="grid gap-12 sm:grid-cols-2 lg:grid-cols-4">
          {% for post in posts %}
            <article class="max-w-xs">
              <h2 class="mb-2 text-xl font-bold leading-tight text-gray-900">
                <a href="/{{post.slug}}/">{{ post.title }}</a>
              </h2>
              <a href="#" class="inline-flex items-center font-medium underline underline-offset-4 text-primary-600 hover:no-underline">
                Read in {{ post.read_time }} minutes
              </a>
            </article>
          {% endfor %}
        </div>
      {% endsuspense %}
    </div>
  </aside>
{% endblock %}
