name: Testing code & Coverage

on:
  push:
    branches: [main]
    paths:
      - '**.py'
      - 'pyproject.toml'
  pull_request:
    branches: [main]
    paths:
      - '**.py'
      - 'pyproject.toml'

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        # https://docs.djangoproject.com/en/5.1/faq/install/#what-python-version-can-i-use-with-django
        include:
          # 3.9  -- 3.2, 4.0, 4.1, 4.2
          - python-version: "3.9"
            django-version: "3.2"
          - python-version: "3.9"
            django-version: "4.0"
          - python-version: "3.9"
            django-version: "4.1"
          - python-version: "3.9"
            django-version: "4.2"
          # 3.10 -- 3.2, 4.0, 4.1, 4.2, 5.0, 5.1
          - python-version: "3.10"
            django-version: "3.2"
          - python-version: "3.10"
            django-version: "4.0"
          - python-version: "3.10"
            django-version: "4.1"
          - python-version: "3.10"
            django-version: "4.2"
          - python-version: "3.10"
            django-version: "5.0"
          - python-version: "3.10"
            django-version: "5.1"
          # 3.11 -- 4.1, 4.2, 5.0, 5.1
          - python-version: "3.11"
            django-version: "4.1"
          - python-version: "3.11"
            django-version: "4.2"
          - python-version: "3.11"
            django-version: "5.0"
          - python-version: "3.11"
            django-version: "5.1"
          # 3.12 -- 4.2, 5.0, 5.1
          - python-version: "3.12"
            django-version: "4.2"
          - python-version: "3.12"
            django-version: "5.0"
          - python-version: "3.12"
            django-version: "5.1"
          # 3.13 -- 5.1
          - python-version: "3.13"
            django-version: "5.1"
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - uses: pre-commit/action@v3.0.1
        if: matrix.python-version == 3.11

      - name: Install dependencies
        run: |
          pip install pytest pytest-django pytest-cov
          pip install "Django~=${{ matrix.django-version }}"

      - name: Run tests
        run: |
          pytest --cov

      - name: Upload coverage reports to Codecov
        # optimal value
        if: matrix.python-version == 3.10 && matrix.django-version == 5.0
        uses: codecov/codecov-action@v5
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
